.subtitle {
  color: var(--color-white);
  font-size: var(--fz-headline-2);
  line-height: 120%;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  padding: 0 0 20px 0;
  text-align: center;
}
.subtitle::after {
  content: '';
  height: 1px;
  width: 86px;
  background-color: var(--color-white);
  position: absolute;
  left: 50%;
  bottom: 0;
  translate: -50% 0;
}
