.catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 95px;
  width: 88.09%;
}
.catalog::after {
  content: 'каталог услуг';
  display: block;
  position: absolute;
  color: var(--color-white);
  font-size: 220px;
  line-height: 120%;
  text-transform: uppercase;
  opacity: 0.03;
  z-index: -1;
}

