@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
/** nullstyle подключать в layout.tsx  */
@import './stylekit.css';

body {
  font-weight: 400;
  display: flex;
  justify-content: center;
  position: relative;
  font-family: 'Forum', sans-serif;
  font-size: var(--fz-text-regular);
  color: var(--color-white);
  background-color: var(--color-primary);
}
#content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: inherit;
}
