:root {
  --color-primary: #3B181E;
  --color-white: rgb(255, 255, 255);
  --color-black: #000000;

  --fz-headline-1: 120px;
  --fz-headline-2: 30px;
  --fz-headline-3: 50px;
  /* --headline-4: px; */
  /* --headline-5: px; */
  /* --headline-6: px; */

  --fz-text-large: 20px;
  --fz-text-regular: 18px;
  --fz-text-small: 16px;

  --container: 90.05vw;
  /* --container-mobile: vw; */
  
  --transition: all ease-in-out 0.3s;
}


